nav{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
    margin-top: 0px;
    font-size: 150%;
    margin-bottom: 10px;
}
nav a:hover{
    background-color: gray;
    color: white;
}
nav a{
    padding: 10px;
    border-left: solid white 2px;
    border-right: solid white 2px;
    text-decoration: none;
    color: white;
}
header{
    background-color: black;
    color: white;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}
footer{
    color: white;
    background-color: black;
    width: 100%;
}
.ImgOne{
    width: 50%;
    margin-left: 25%;
}
figcaption{
    font-size: 200%;
    text-align: center;
}