nav{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
    margin-top: 0;
}
nav:hover{
    background-color: gray;
    color: gray;
}
nav a{
    padding: 10px;
    border-left: solid white 2px;
    border-right: solid white 2px;
    text-decoration: none;
    color: white;
}
header{
    background-color: black;
    color: white;
    width: 100%;
    margin-bottom: 0;
}
footer{
    color: white;
    background-color: black;
    width: 100%;
}
.ImgOne{
    width: 50%;
    align-self: center;
}